{{template "base" .}}

{{define "title"}}SeedHammer Checkout{{end}}
{{define "description"}}SeedHammer Checkout{{end}}

{{define "content"}}
<section class="container">
    <div class="grid center-layout">
        <div></div>
        <div>
            <hgroup class="text-center">
                <h1>Checkout</h1>
                <p><small>Personal data is deleted 4 months after dispatch, except country. Order content and payment information are retained for support purposes. See our <a href="/about/attitude-to-privacy" target="_blank">privacy policy</a>.</small></p>
            </hgroup>
            <h2>Delivery Information</h2>
            {{if .Error}}<p class="alert alert-warning">{{.Error}}</p>{{end}}
            <form method="POST">
                <input type="hidden" name="r" value="/shop/summary">
            {{with .Order.Address}}
                {{if not $.Preorder}}
                <label>
                    <small>Full Name</small>
                    <input type="text" id="name" name="name"  maxlength="{{$.MaxNameLength}}" placeholder="First and last name" value="{{.Name}}" required>
                </label>
                <fieldset>
                    <label for="switch">
                        <input type="checkbox" id="company-switch" name="switch" role="switch">Company
                        <div class="grid mt-4">
                            <label>
                                <small>Company Name</small>
                                <input type="text" id="company" name="company" maxlength="{{$.MaxNameLength}}" placeholder="Acme Ltd." value="{{.Company}}">
                            </label>
                            <label>
                                <small>Tax ID (EIN/VAT/IOSS/EORI)</small>
                                <input type="text" id="vat" name="vat" placeholder="12345668789" value="{{.VAT}}">
                            </label>
                        </div>
                    </label>
                </fieldset>
                <label>
                    <small>Address</small>
                    <input type="text" id="address" name="address" placeholder="123 Upper Street" value="{{.Address}}" required>
                </label>
                <label>
                    <small>Apartment, suite, floor (optional)</small>
                    <input type="text" id="address2" name="address2" placeholder="3. floor" value="{{.Address2}}">
                </label>
                <div class="grid">
                    <label>
                        <small>Postcode</small>
                        <input type="zip" id="zip" name="zip" placeholder="12345" value="{{.Zip}}">
                    </label>
                    <label>
                        <small>City</small>
                        <input type="text" id="city" name="city" placeholder="New York" value="{{.City}}" required>
                    </label>
                </div>
                <label>
                    <small>Country</small>
                    <select id="select-country" name="country" required>
                        <option value="" disabled{{if not .Country}} selected="true"{{end}}>Choose country</option>
                        {{range $.Countries}}
                            <option value="{{.ID}}" {{if eq $.Order.Address.Country .ID}} selected="true"{{end}}>{{.Name}}</option>
                        {{end}}
                    </select>
                </label>
                {{end}}
                <div class="grid mb-5">
                    <label>
                        <small>Email Address</small>
                        <input type="email" id="email" name="email" value="{{.Email}}" placeholder="someone@example.com" required>
                    </label>
                    {{if not $.Preorder}}
                    <label>
                        <small>Phone Number (International)</small>
                        <input type="tel" id="tel" name="phone" value="{{.Phone}}" placeholder="+1 123 456-789" pattern="\+\d{1,3}[\d\u0020]+" title="Plus sign (+) and digits (0-9)" required minlength="8">
                    </label>
                    {{end}}
                </div>
                {{if not $.Preorder}}
                <p><i><small>Orders are shipped from the EU and will take 2-3 weeks to arrive depending on shipping type and destination. Amounts are in US dollars. Payment only in bitcoin. Customs may apply. Read the <a href="/terms-and-conditions" target="_blank">TAC here</a>.</small></i></p>
                {{else}}
                <p><i><small>Preorders are expected to ship in Q2 2025. Shipping and taxes not included. We will contact you for delivery information and shipping charge when your order is ready to ship. Amounts are in US dollars. Payment only in bitcoin. Customs may apply. Read the <a href="/terms-and-conditions" target="_blank">TAC here</a>.</small></i></p>
                {{end}}
                <button type="submit">Go To Summary</a>
            {{end}}
            </form>
        </div>
       <div></div>
    </div>
</section>
{{end}}
