{{template "base" .}}

{{define "title"}}{{.Doc.Title}}{{end}}
{{define "description"}}{{.Doc.Description}}{{end}}
{{define "type"}}article{{end}}

{{define "content"}}
    <section class="container">
        <div class="grid docs-layout">
            <aside>
                <nav>
                    {{range .TOC}}
                        <details{{if eq .Slug $.ActiveSlug}} open{{end}}>
                            <summary><a href="{{$.Base}}/{{.Slug}}"><span class="circle">{{.Index}}</span> {{.Name}}</a></summary>
                            <ul>
                                {{with $article := .}}
                                    {{range .Sections}}
                                        <li>
                                            <a href="{{$.Base}}/{{$article.Slug}}#{{.ID}}">{{.Name}}</a>
                                        </li>
                                    {{end}}
                                {{end}}
                            </ul>
                        </details>
                    {{end}}
                </nav>
            </aside>
            <div></div>
            {{with .Doc}}
                <div class="guide">
                    <hgroup class="text-center">
                        <h1>{{.Title}}</h1>
                        <h2>{{.Description}}</h2>
                    </hgroup>
                    {{.Content}}
                </div>
            {{end}}
            <div></div>
        </div>
    </section>
{{end}}
