{{template "base" .}}

{{define "title"}}About SeedHammer{{end}}
{{define "description"}}Read about SeedHammer and our Ethos{{end}}

{{define "content"}}
<section class="container">
    <div class="grid docs-layout">
        <aside>
            <nav>
                <details open>
                    <summary>Terms & Conditions</summary>
                    <ul>
                        <li>
                            <a href="#shipping-time">Shipping Time</a>
                        </li>
                        <li>
                            <a href="#duty-taxes-and-customs">Duty, Taxes, and Customs</a>
                        </li>
                        <li>
                            <a href="#amounts-and-currencies">Amounts and Currencies</a>
                        </li>
                        <li>
                            <a href="#payment-options">Payment Options</a>
                        </li>
                        <li>
                            <a href="#refund">Refund Policy</a>
                        </li>
                        <li>
                            <a href="#privacy">Attitude to Privacy</a>
                        </li>
                        <li>
                            <a href="#contact">Contact Information</a>
                        </li>

                    </ul>
                </details>
            </nav>
        </aside>
        <div></div>
        <div>
            <h1 class="text-center">Terms and Conditions</h1>
            <h2 id="shipping-time">Shipping Time</h2>
            <p>Orders will be shipped from Switzerland and the estimated delivery time is approximately 2-3 weeks. However, please note that delivery times may vary depending on the destination country, shipping method, and customs clearance procedures.</p>
            <h2 id="duty-taxes-and-customs">Duty, Taxes, and Customs</h2>
            <p>The customer is responsible for paying all expenses related to duty, taxes, and customs. These charges vary by country and may be applied to your order upon delivery. Please note that we have no control over these fees, and we advise customers to contact their local customs office for further information.</p>
            <h2 id="amounts-and-currencies">Amounts and Currencies</h2>
            <p>All amounts shown on Seedhammer.com are in US Dollars (USD). Please note that the actual amount charged to your account may vary based on the current USD/BTC exchange rate on the time of the transaction.</p>
            <h2 id="payment-options">Payment Options</h2>
            <p>We only accept payments in bitcoin. We do not accept any other form of payment. Customers can make payments via their bitcoin wallets, and we will provide a unique wallet address for each transaction in the last step of our checkout.</p>
            <h2 id="refund">Refund Policy</h2>
            <p>We want our customers to be satisfied with their purchase. Therefore, we offer a full refund within 30 days from the time of arrival (based on delivery scan on tracking code). To initiate a refund, please contact us at support@seedhammer.com with your order number and reason for the return we will then return with further details.</p>
            <p>Please note that the refund amount will be paid out in bitcoin, and the exchange rate used will be based on the USD/BTC exchange rate on the day of the refund.</p>
            <h2 id="privacy">Attitude to Privacy</h2>
            Please see our about-section <a href="/about/attitude-to-privacy">Attitude to Privacy</a>
            <h2 id="contact">Contact Information</h2>
            <p>If you have any questions or concerns regarding our TAC, shipping, payment, or refund policy, do not hesitate contact us at support@seedhammer.com. We will respond to your inquiries as soon as possible. Please be patient - we are a small team.</p>
            <p>Thank you for reading all the way through our TAC - and if you end up becoming a customer thank you for supporting us!</p>
        </div>
        <div></div>
    </div>
</section>
{{end}}
